*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}
/* header start */
.conteiner{
  width: 1280px;
  height: 100%;
}

.header{
  display: flex;
  margin-top: 63px;
  justify-content: center;
  margin-bottom: 50px;
}

.title_logo{
color: #4BCAFF;
font-family: Roboto;
font-size: 80px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

span{
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header_item{
  background-color: #35444F;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.list_item a{ 
color: #FFF;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.slyle_hover{
    background-color: #011f35;
}

.slyle_hover:hover, .slyle_hover:focus, .slyle_hover:active{
  background: #002e6b;
}

.list_item{
  padding: 24px 50px 18px;
  border-left: #FFF 1px solid;
}

/* header end */

/* main start */

.conteiner{
  width: 1280px;
  height: 100%;
}

.main{
display: flex;
justify-content: center;
margin-bottom: 54px;
}

.section{
  display: flex;
  justify-content: space-between;
}

.menu{
display: flex;
flex-direction: column;
border: 1px solid #000;
background: rgba(0, 0, 0, 0.00);

}

.menu_item{
  padding: 30px 70px 44px 52px;
}

.item{
color: #485863;
font-family: Roboto;
font-size: 27px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 100% */
text-decoration: none;
}

.style_items{
background-color:  #DBDBDB;
}

.style_items:hover, .slyle_items:focus{
  background-color: #4BCAFF;
}

.items{
  color: #000;
  font-family: Roboto;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  
}

.menu_img{
  border: 1px solid #000;
  background: rgba(0, 0, 0, 0.00);
  padding: 75px 268px 73px 297px;
}

.text_buttom{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding-left: 400px;
}

.text_top{
color: #2C2C2C;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 133.333% */
margin-bottom: 13px;
text-align: justify;
}

.text_end{
color: #2C2C2C;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 133.333% */
text-align: justify;
}

/* main end */

/* footer start */

.conteiner{
  width: 1280px;
  height: 100%;
}

.footer{
display: flex;
justify-content: center;
margin-bottom: 30px;
}

.footer_item{
  display: flex;
  justify-content: space-between;
  background: rgba(99, 105, 110, 0.48);
}

.item_style{
color: #0C1927;
font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 100% */
}

.item_styles{
color: #3181A6;
font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 28px;
padding-bottom: 10px;
border-bottom: 1px solid #3181A6 ;
}

.item_styles:hover, .item_styles:focus, .item_styles:active{
background-color: #23f510;
}

.item_list{
  padding: 20px 0 21px 220px;
}
.style_left {
  padding-left: 20px;
}


/* footer end */